@using Microsoft.AspNetCore.Mvc.Localization

@model EasyWalletWeb.ViewModels.ReportsMonthly

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Monthly"];
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/reports.css" />
    <link rel="stylesheet" href="~/css/report_monthly.css" />
}

<div class="content">
    <partial name="NavBar" />

    <div class="reports-navbar shadow-sm">
        <div class="reports-navbar-subcontainer mx-auto">
            <a asp-action="Balance" class="p-2">@Localizer["Balance"]</a>
            <a asp-action="Monthly" class="p-2 reports-navbar-selected">@Localizer["Monthly"]</a>
            <a asp-action="History" class="p-2">@Localizer["History"]</a>
        </div>
    </div>

    <div class="reports-main-container">
        <div class="monthly-container">
            @if (Model.Spends != null && Model.Spends.Count > 0)
            {
                @foreach (var item in Model.Spends)
                {
                    <h4 class="history-month mt-5 mb-4">@item.Month.ToString("MMMM yyyy")</h4>

                    <table class="table">
                        <tbody>
                            @foreach (var spend in item.SpendsByCategory)
                            {
                                <tr>
                                    <td>@spend.Key</td>
                                    <td class="text-right">@spend.Value.ToString("C")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
            else
            {
                <h5 class="no-entries-label">@Localizer["AddSomeEntries"]</h5>
                <a asp-route="wallet">@Localizer["AddFirstOne"]</a>
            }
        </div>
    </div>

    <partial name="Footer" />
</div>

@section Scripts
    {
    <script src="~/js/logout.js"></script>
}