@using Microsoft.AspNetCore.Mvc.Localization

@model EasyWalletWeb.ViewModels.WalletEntry

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home";

    bool layoutEntrySavedAlert = Model != null && Model.PreviousEntrySaved;

    string entrySavedEmoji = "";

    if (DateTime.Now.Second % 3 == 0)
    {
        entrySavedEmoji = "👍";
    }
    else if (DateTime.Now.Second % 2 == 0)
    {
        entrySavedEmoji = "👌";
    }
    else
    {
        entrySavedEmoji = "🙌";
    }
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/wallet.css" />
}

<div class="content">
    <partial name="NavBar" />

    <div class="wallet-container">
        @using (Html.BeginForm("Entry", "Wallet", FormMethod.Post, new { @class = "spend-form text-center" }))
        {
            <h1 class="h3 mb-4 font-weight-normal">@Localizer["AddEntry"]</h1>

            <div id="non-android-feedback" class="entry-format-feedback">
                <span id="format-keyword">@Localizer["Keyword"]</span>
                <span id="format-amount"> + @Localizer["Amount"] </span>
                <span id="format-check">
                    <i class="fas fa-check format-valid"></i>
                </span>
            </div>

            <div class="input-group">
                <input type="text" id="Entry" name="Entry" class="form-control" value="@Model?.Entry" placeholder="@Localizer["EntryPlaceholder"]" required>
                <label for="inputSpend" class="sr-only">@Localizer["Entry"]</label>
                <div class="input-group-append">
                    <button class="btn btn-primary btn-block" type="submit">@Localizer["Add"]</button>
                </div>
            </div>

            <div id="android-feedback" class="entry-format-feedback">
                <span id="format-keyword">@Localizer["Keyword"]</span>
                <span id="format-amount"> + @Localizer["Amount"] </span>
                <span id="format-check">
                    <i class="fas fa-check format-valid"></i>
                </span>
            </div>

            <input type="date" id="Date" name="Date" class="entry-date form-control mt-4" value="@DateTime.Now.ToString("yyyy-MM-dd")" required>

            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            }
            else
            {
            <div id="entry-saved-alert" class="alert alert-success py-1 @(layoutEntrySavedAlert ? "" : "invisible")">@Localizer["EntrySaved"] @entrySavedEmoji</div>
            }
        }

    </div>

    <partial name="Footer" />
</div>

@section Scripts
    {
    <script src="~/js/wallet.js"></script>
    <script src="~/js/entryFormatFeedback.js"></script>
    <script src="~/js/logout.js"></script>
}
