@using Microsoft.AspNetCore.Mvc.Localization

@model EasyWalletWeb.ViewModels.AuthSignup

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["SignupTitle"];
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/auth.css" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/auth.min.css" />
    </environment>
}

<div class="content">
    <div class="sw-navbar shadow-sm d-flex align-items-center">
        <a asp-route="home"><img src="~/images/logo.png" class="mr-3" width="35" height="30" /></a>
        <a asp-route="home" class="mr-auto"><h4 class="my-0" style="color:white">Simple Wallet</h4></a>
    </div>

    <div class="login-container">
        <form class="form-auth form-signup text-center" action="Signup" method="post">
            <img class="mb-4" src="~/images/appicon.png" alt="logo" width="100" height="100">
            <h1 class="h3 mb-4 font-weight-normal">@Localizer["SignupTitle"]</h1>

            @if (!string.IsNullOrEmpty(Model?.Email))
            {
                @Html.ValidationSummary("", new { @class = "alert alert-danger" })
            }

            <label for="Name" class="sr-only">@Localizer["Name"]</label>
            <input type="text" id="Name" name="Name" class="form-control" placeholder="@Localizer["NameOptional"]" autofocus>
            <label for="Email" class="sr-only">@Localizer["EmailAddress"]</label>
            <input type="email" id="Email" name="Email" class="form-control" placeholder="@Localizer["EmailAddress"]" required>
            <label for="Password" class="sr-only">@Localizer["Password"]</label>
            <input type="password" id="Password" name="Password" class="form-control" placeholder="@Localizer["Password"]" required>
            <label for="RepeatPassword" class="sr-only">@Localizer["RepeatPassword"]</label>
            <input type="password" id="RepeatPassword" class="form-control" placeholder="@Localizer["RepeatPassword"]" required>
            <small class="form-text text-muted">@Localizer["PasswordMustHave"]</small>
            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit" value="Signup">@Localizer["Signup"]</button>
            <span class="signup-in-login">@Localizer["HaveAnAccount"] <a asp-route="login">@Localizer["Login"]</a></span>
        </form>
    </div>

    <partial name="Footer" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/signup.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/signup.min.js"></script>
    </environment>
}
