@using EasyWalletWeb.Infrastructure

@model EasyWalletWeb.ViewModels.CategoriesIndex

@{
    ViewData["Title"] = "Categories";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/categories.css" />
}

<div class="content">
    <partial name="NavBar" />

    <div class="categories-main-container">
        <div class="categories-container">
            <div class="categories-header mb-4">
                <h2>Categories</h2>
                <a class="btn category-add-btn" asp-controller="Categories" asp-action="New">
                    <i class="fas fa-plus"></i>
                    Add category
                </a>
            </div>
            @foreach (var category in Model.Categories)
            {
                <div class="category">
                    <div class="mb-3">
                        <h4 class="d-inline">@category.Name</h4>

                        @if (category.CategoryTypeId != Constants.IncomesCategoryTypeID && category.Name != Constants.OthersCategoryName)
                        {
                            <a asp-action="Delete" asp-route-id="@category.Id" class="float-right" data-delete-message="Are you sure you want to delete '@category.Name' and his tags?">
                                <i class="fas fa-trash"></i>
                            </a>
                        }

                        <a asp-action="Edit" asp-route-id="@category.Id" class="float-right">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    <ul class="list-unstyled d-block mb-0">
                        @foreach (var tag in category.Tags)
                        {
                            <li class="badge badge-info category-tag">@tag.Name</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

    <partial name="Footer" />
</div>

@section Scripts
    {
    <script src="~/js/categories.js"></script>
    <script src="~/js/logout.js"></script>
}