@using Microsoft.AspNetCore.Mvc.Localization
@using EasyWalletWeb.Infrastructure

@model EasyWalletWeb.ViewModels.CategoriesIndex

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Categories"];

    string deleteMessage = Localizer["AreYouSureDeleteCategory1"].Value + "{0}" + @Localizer["AreYouSureDeleteCategory2"].Value;
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/categories.css" />
}

<div class="content">
    <partial name="NavBar" />

    <div class="categories-main-container">
        <div class="categories-container">
            <div class="categories-header mb-4">
                <h2>@Localizer["Categories"]</h2>
                <a class="btn category-add-btn" asp-controller="Categories" asp-action="New">
                    <i class="fas fa-plus"></i>
                    @Localizer["AddCategory"]
                </a>
            </div>
            @foreach (var category in Model.Categories)
            {
                <div class="category">
                    <div class="mb-3">
                        <h4 class="d-inline">@category.Name</h4>

                        @if (category.CategoryTypeId != Constants.IncomesCategoryTypeID
                           && category.Name != Constants.OthersCategoryNameEN
                           && category.Name != Constants.OthersCategoryNameES)
                        {
                            <a asp-action="Delete" asp-route-id="@category.Id" class="float-right" data-delete-message="@string.Format(deleteMessage, category.Name)">
                                <i class="fas fa-trash"></i>
                            </a>
                        }

                        <a asp-action="Edit" asp-route-id="@category.Id" class="float-right">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    <ul class="list-unstyled d-block mb-0">
                        @foreach (var tag in category.Tags)
                        {
                            <li class="badge badge-info category-tag">@tag.Name</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

    <partial name="Footer" />
</div>

@section Scripts
    {
    <script src="~/js/categories.js"></script>
    <script src="~/js/logout.js"></script>
}