@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

@section Styles
    {
    <link rel="stylesheet" href="~/css/landing.css" />
}

<div class="sw-navbar shadow-sm d-flex align-items-center p-2 px-5">
    <a asp-route="home"><img src="~/images/logo.png" class="mr-3" width="35" height="30" /></a>
    <a asp-route="home" class="mr-auto"><h4 class="my-0" style="color:white">Simple Wallet</h4></a>
    <a asp-route="login" class="p-2 mr-2 text-light">@Localizer["Login"]</a>
    <a asp-route="signup" class="btn btn-light">@Localizer["Signup"]</a>
</div>

<div id="intro-container">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mb-4">@Localizer["IntroTitle"]</h1>
                <p>@Localizer["IntroDescription"]</p>
                <a asp-route="signup" class="btn btn-primary intro-btn px-4">@Localizer["IntroButton"]</a>
            </div>
            <div class="col-md-6 overflow-hidden">
                <img src="~/images/devices.jpg" />
            </div>
        </div>
    </div>
</div>

<div id="features-container">
    <div class="container py-5">
        <h3 class="text-center mb-4">@Localizer["FeaturesTitle"]</h3>
        <div class="row">
            <div class="col-md-6">
                <p class="feature-text feature-odd-text big-screen-only">@Localizer["FeaturesDescriptionOne"]</p>
            </div>
            <div class="col-md-6 overflow-hidden">
                <img src="~/images/categories.jpg" class="feature-image feature-odd-image" />
            </div>
        </div>
        <div>
            <p class="feature-text feature-odd-text small-screen-only">@Localizer["FeaturesDescriptionOne"]</p>
        </div>
        <div class="row">
            <div class="col-md-6 overflow-hidden">
                <img src="~/images/entry.jpg" class="feature-image feature-even-image" />
            </div>
            <div class="col-md-6">
                <p class="feature-text feature-even-text">@Localizer["FeaturesDescriptionTwo"]</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="feature-text feature-odd-text big-screen-only">@Localizer["FeaturesDescriptionThree"]</p>
            </div>
            <div class="col-md-6 overflow-hidden">
                <img src="~/images/reports.jpg" class="feature-image feature-odd-image" />
            </div>
        </div>
        <p class="feature-text feature-odd-text small-screen-only">@Localizer["FeaturesDescriptionThree"]</p>

        <a asp-route="signup" class="btn btn-primary features-btn px-4">@Localizer["GetStarted"]</a>
    </div>
</div>

<partial name="Footer" />